body, input, textarea, select {color: #000;  background: none;  margin: 0; }

#banner, #global_menu, #bookmark_list {display: none;}

#strapline {font-size: 20pt;}

.lang-en .french, .lang-fr .english {display: none;}


h1, h2, h3, h4, h5 {font-weight: normal; margin-top: 0.5em;}
h1 {font-size: 2.5em; letter-spacing: 2px;}
h2 {font-size: 1.5em; letter-spacing: 1px; margin: 1em 0 0.8em 0;}
h3 {font-size: 1.1em; text-transform: uppercase; letter-spacing: 1px; margin-top: 1.8em;}
h4, h5 {font-weight: normal;}
p, blockquote {line-height: 1.45em; font-size: 0.75em;}
li, td, dl {padding-bottom: 0.3em; font-size: 0.75em;}
li li, td td {font-size: 1em;}