﻿body {background-color: #101516; font-family: Verdana, Arial,  sans-serif; margin: 0; padding: 0; font-size: 100%; color: #444; text-align: center;}


/* Document structure: 

	body (#wrapper (#container  (#banner)  (#page (#header) (#content_area) (#footer))    ))	

*/

#wrapper {margin: 0; padding: 0 0 80px 0; overflow: auto;}
#container {text-align: left; width: 1000px; margin: 0 auto;}
#banner, #page, #header, #content_area, #footer {width: 1000px; float: left; margin: 0; position: relative;}
#banner {height: 165px; background: url(http://static1.web.cern.ch/static1/ad/images/banner_en.jpg) 0px 0px no-repeat;}
.lang-fr #banner {background-image: url(http://static1.web.cern.ch/static1/ad/images/banner_FR.jpg);}
#page {background-color: #fff;}
#header {height: 4em;}
#content_area {width: 900px; padding: 0 50px;}
#footer {margin: 80px 0 0 0; font-size: 0.75em; height: 180px;}


#cern_divergence_2 {background-color: #333; border-bottom: 1px solid #333; height: 19px; margin: 0 0 0 0; padding: 5px 0; position: absolute; top: 0; left: 0; width: 100%; z-index: 100; text-align: left;}
#cern_divergence_2 a {display: block; width: 372px; height: 19px; background: #333 url(http://static1.web.cern.ch/static1/ad/images/header_link.gif) 0px 0px no-repeat; margin: 0 0 0 10px;}
.lang-fr #cern_divergence_2 a {background-image: url(http://static1.web.cern.ch/static1/ad/images/header_link_FR.gif); width: 450px;}
#cern_divergence_2 a span {display: none;}



#cern_logo {display: block; position: absolute; top: 30px; right: 0; height: 100px; width: 100px;}
#site_title a {position: absolute; top: 30px; left: 0; display: block; width: 500px; height: 72px;}
#language_switcher {}
#language_switcher a.language-link {display: block; font-size: 0.8em; letter-spacing: 0.05em; padding: 2em 1em; margin: 0; padding: 0; position: absolute; bottom:5px; right: 0; color: #6f6f6f;}
#language_switcher li.fr a {right: 7em;}
#language_switcher li.active a {color: #fff; font-weight: bold;}

/* GLOBAL MENU */
#global_menu {position: absolute; top: 25px; right: 50px; text-align: right;}
#global_subnav {}
#level1, #level2 {margin: 0; padding: 0;}
#level1 li, #level2 li {margin: 0; padding: 0; display: inline;}
#level1 li a, #level2 li a {text-decoration: none; padding: 5px; color: #333; margin: 0;}
#level2 li a {font-size: 0.9em;}
#level1 li.first a, #level2 li.first a {padding-left: 20px;}
#level1 li.active a, #level2 li.active a, #level1 li.active-trail A, #level2 li.active-trail a {font-weight: bold;}


/* FOOTER */
#strapline {position: absolute; top: 0px; left: 50px;}
#strapline span {display: none;}
.lang-en #strapline span[LANG=en] {display: block;}
.lang-fr #strapline span[LANG=fr] {display: block;}
#bottom_right {position: absolute; bottom: 50px; right: 50px; text-align: right;}
#admin_login {position: absolute; bottom: 50px; left: 50px;}
a#rss_link {padding: 0 20px 6px 0; background: url(http://framework.web.cern.ch/framework/img/icon/icon_rss.png) top right no-repeat; font-size: 0.85em;}


#sidebar-left {width: 180px; float: left; margin-right: 40px;}
#sidebar-right {width: 240px; float: left; margin-left: 60px;}
#content {width: 600px; margin: 0; padding: 0;}
.sidebars #content {float: left; margin: 0; width: 440px;}
.sidebars #sidebar-right {width: 200px; margin-left: 40px;}
.sidebar-left #content {width: 440px; float: left; margin: 0;}
.sidebar-right #content {margin: 0; float: left;}
.meta {font-size: 0.9em;}
.equation {text-transform: none; white-space: nowrap;}
.nowrap { white-space: nowrap;}
.clearfix {/* overflow: auto; */ /* for IE6: */ zoom: 1; display: block; padding: 0;}
.clearleft {clear: left;}
.inline {display: inline;}
#mission {padding-top: 20px; color: #333;}

ul.menu {padding-left: 0; font-size: 0.95em;}
ul.menu ul {padding-left: 3px;}
ul.menu li {margin-bottom: 0.3em;}
ul.menu li.leaf {list-style-type: none; list-style-image: none; margin-left: 0;}
ul.plain, ul.plain li {list-style-type: none; padding-left: 0;}
a.bg_img span {display: none;}


/* SOCIAL BOOKMARKING STUFF */

#bookmark_list {padding: 60px 0 0 0; margin: 20px 0 10px 0;}
#bookmark_list h5 {margin: 0 0 5px; font-size: 0.7em; text-transform: uppercase;}
#bookmark_list ul, #bookmark_list li {list-style-type: none; padding-left: 0; display: inline;}
#bookmark_list li a {text-decoration: none; padding-right: 1.5em;}



/* GRIDS WITHIN CONTENT */

.grid .column {width: 176px; margin: 0 20px 20px 0; border-width: 0; padding: 0; float: left;}
.grid .column.last {margin-right: 0;}
.grid .column.span_two {width: 372px;}
.grid .column.span_three {width: 568px;}
.grid .column.span_four {width: 764px;}


/* BLOCKS */

.block {margin-bottom: 3em;}
#front_page .block {margin-bottom: 20px;}
.block h2, #content .block h2, .block h2 a {font-size: 1em; margin: 1em 0 0.5em 0; color: #c80e43;}
.block h3 {margin: 0 0 0 0; font-size: 0.7em;}
.block h3 a {text-decoration: none; font-weight: normal;}
.block.locale ul {margin: 1em 0; padding: 0; text-align: right;}
.block.locale li {display: inline; list-style-type: none;}
ul.links, ul.links li {margin-left: 0; padding-left: 0;}
ul.links .node_read_more a:before {content: "» ";}


.faq_item {margin-bottom: 1.5em;}

.book-navigation .menu, .book-navigation .page-links {border-width: 0; margin-top: 30px; font-size: 1em;}
.book-navigation a {text-decoration: none;}
.book-navigation a:hover {text-decoration: underline;}


/* CONTENT STYLES */

h1, h2, h3, h4, h5 {font-weight: normal; margin-top: 0.5em;}
h1 {font-size: 2.5em; letter-spacing: 2px;}
h2 {font-size: 1.5em; letter-spacing: 1px; margin: 1em 0 0.8em 0;}
h3 {font-size: 1.1em; text-transform: uppercase; letter-spacing: 1px; margin-top: 1.8em;}
h4, h5 {font-weight: normal;}
h4.byline {text-transform: uppercase; font-size: 0.8em; color: #c8c8c8;}
a {color: #3861aa; text-decoration: none;}
a:hover {text-decoration: underline;}
p, blockquote {line-height: 1.45em; font-size: 0.75em;}
li, td, dl {padding-bottom: 0.3em; font-size: 0.75em;}
li li, td td {font-size: 1em;}

blockquote {padding: 10px 10px 10px 40px; background: #fbfbfb url(http://static1.web.cern.ch/static1/ad/images/blockquote_en.gif) 10px 10px no-repeat; border: 1px solid #ebebeb;}
.lang-fr blockquote {background-image: url(http://static1.web.cern.ch/static1/ad/images/blockquote_fr.gif);}

#content h2 {color: #111; letter-spacing: 1.5px;}
.hide {display: none;}
.print {display: none;}
.right {text-align: right;}
.no_transform {text-transform: none;}
.lang-en .french, .lang-fr .english {display: none;}
.note {font-size: 0.65em; font-style: italic;}
.note.important {color: #C80E43;}
.breadcrumb {font-size: 9px; color: #333; padding: 10px 0 20px 0;}
.box.text {background: #ededed; border: 1px solid #e1e1e1; padding: 0 10px; margin: 2em 0; font-size: 0.9em;}

.form-item label {font-weight: normal;}
.meta {font-size: 0.8em; margin: 20px 0;}


/* ADMIN STUFF */

div.admin .left {margin-left: 0;}
div.admin .right {margin-right: 0;}
ul.primary {border-color: #cdcdcd;}
ul.primary li a {background: transparent; color: #888;}
ul.primary li.active a {color: #000;}
ul.primary li.active a, ul.primary li a {border-width: 0;}


/* VIEWS */

#content .view h3 {font-size: 0.8em;}
.view-content h3 {margin-bottom: 0;}
.video_button {width: 180px; float: left; margin: 10px 20px 20px 0;}
.video_button .thumb_wrapper {width: 180px; height: 100px; overflow: hidden; background: #d8d8d8;}
.video_button img {margin: 0; padding: 0; width: 180px;}
.video_button h3, #content .video_button h3 {margin: 0; padding: 0; font-size: 0.6em;}
.video_button h3 a {display: block; padding: 5px; background-color: #f7f7f7; border-bottom: 1px solid #dedede; margin: 0; height: 3em; overflow: hidden;}
.news_item img {float: left; margin: 0 10px 10px 0;}
.news_item h3 {margin: 0 0 0 0;}
#sidebar-right .view-FAQs h3 {margin: 2em 0;}

/* THESE IDs MAY CHANGE */

#block-views-FAQ_front_page-block_1, #block-views-FAQ_front_page_FR-block_1 {margin-top: 30px;}
#block-views-FAQ_front_page-block_1 h2, #block-views-FAQ_front_page_FR-block_1 h2, #block-views-video_front_page-block_1 h2 {margin-bottom: 10px;}

/* CCK */

#main_img, #main_img img {width: 440px;}
.sidebars #main_img img {width: 440px;}
#main_img p.caption, .inset_image p.caption {margin: 0 0 20px 0; font-size: 0.65em; font-style: italic;}


/* BOOK PAGES ONLY */
ul#about_mission {padding: 2em; background-color: #ededed;}
#about_mission .mission_header {color: #c80e43; text-transform: uppercase; letter-spacing: 0.1em;} 
#about_mission li {margin-bottom: 2em;}

/* FRONT PAGE ONLY */
#front_page #content, #front_page #sidebar-right {padding-top: 30px;}
#front_page #content {width: 440px;}
#front_page #sidebar-right {width: 400px;}
#front_page #sidebar-right .news_item, #front_page #sidebar-right .video_button, #front_page #sidebar-right h2, #front_page #content h2, #front_page #content .faq_item, #front_page #content #front_synopsis, #front_page #content #button_cern, #front_page #content #button_antimatter {display: block; text-align: left;} /* For IE6 */
#front_page .search.block {text-align: right; margin-bottom: 20px;}
#front_page .search.block * {display: inline;}
#front_page .search.block label {display: none;}
#front_synopsis {font-size: 0.9em; padding: 110px 20px 20px 20px; color: #e2e2e2; background: #0d0b0a url(http://static1.web.cern.ch/static1/ad/images/poster_fade.jpg) 0px 0px no-repeat;}
#button_cern, #button_antimatter {display: block; width: 200px; height: 100px; margin-right: 40px; float: left; background: #3861aa url(http://static1.web.cern.ch/static1/ad/images/button_cern_en.gif) 0px 0px no-repeat;}
#button_antimatter {margin: 0 0 0 0; background-image: url(http://static1.web.cern.ch/static1/ad/images/button_antimatter_en.jpg);}
#button_cern span, #button_antimatter span {display: none;}
.lang-fr #button_antimatter {background-image: url(http://static1.web.cern.ch/static1/ad/images/button_antimatter_fr.jpg);}
.lang-fr #button_cern {background-image: url(http://static1.web.cern.ch/static1/ad/images/button_cern_fr.gif);}

#expo_block {margin-top: 4.5em;}

#expo_block .element {margin-bottom: 2em; background-color: #ededed; padding: 10px; border: 1px dotted #e1e1e1;}
#expo_block .element img {width: 218px;}
#expo_block p {font-size: 0.65em; font-style: italic; margin-top: 2px;}
