
/* CONTENT STYLES */

html, body {font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0; font-size: 100%; background-color: #e4f2fb; color: #262626;}
h1, h2 {font-family: Arial, sans-serif; font-weight: normal;}
h3, h4, h5 {}
a {color: #4178c5;}
p {line-height: 1.45; font-size: 0.8em;}
a.plain {text-decoration: none;}
a.plain:hover {text-decoration: underline;}
a.plain.nohover:hover {text-decoration: none;}



/* BASIC PAGE STRUCTURE */

#site_banner {margin: 1px; padding: 10px;background-color: #333; color: #fefefe;}
#site_banner a {text-decoration: none; color: inherit;}
.wrapper_centred, #page {width: 940px; margin: 0 auto;}
#page {border: 1px solid #a9b0b4; background-color: #fff; margin-top: -10px; padding: 0;}
#page_wrapper {padding: 8px;}
#site_nav {float: left; width: 160px; margin: 0 10px 0 0;}
#content {float: left; width: 670px;}
#site_footer {height: 200px; padding: 0;}


pre.code {background-color: #f2f2f2; border: 1px solid #eaeaea; padding: 1em; font-family: courier;}
/* CERN WEB (CW) STYLES */

.print {display: none;}
.base_hide {display: none;}
.accessibility.anchor span {display: none;}
.cw_grid {}
.cw_column {width: 176px; margin: 10px 10px 10px 0; float: left;}
.cw_column.last {margin: 10px 0 10px 0;}
.cw_column.span_two {width: 362px;}
.cw_column.span_three {width: 548px;}
.cw_column.span_four {width: 734px;}

#global_strap {height: 60px;  background-color: #4178c5; background-color: #3861aa; }
#global_strap .wrapper_centred {position: relative;}
a#global_link_cern {display: block; height: 50px; width: 80px; background: #4178c5 url(http://cern.ch/framework/img/logo/logo_cern_link1.gif) 5px 5px no-repeat;}
a#global_link_cern:hover {background-position: -120px 5px;}
a#global_link_cern span {display: none;}
#global_search {position: absolute; top: 0; right: 0; padding: 10px 0 0 0;}
#global_search input {border: 1px solid #333; padding: 3px; font-size: 10px;}
#global_search button {background-color: #183a61; border-width: 0; padding: 2px; font-size: 10px; margin-left: 3px; color: #fff;}
#langswitch_fr {position : absolute; top: 62px; right: 0; color: #fff;}


#global_footer {font-size: 0.9em; color: #999; padding: 0 0 2em 0;}
#global_footer h2, #global_footer h3  {font-weight: normal; color: #000; margin-top: 1.5em;}
#global_footer ul, #global_footer ul li {list-style-type: none; padding: 0; margin: 0 0 0.2em 0; line-height: 1.3;}
#global_footer ul a {text-transform: uppercase; text-decoration: none; color: #999; padding: 0.3em; display: block;}
#global_footer ul a.rss {padding-left: 15px; background: url(http://cern.ch/framework/img/icon/icon_rss.png) 0 2px no-repeat;}
#global_footer ul a.rss:hover {color: #fb9d3a; background-color: transparent;}
#global_footer ul a .dept_abbreviation {font-weight: bold;}
#global_footer ul a:hover {background-color: #4178c5; color: white;}
#global_footer p#copyright {text-align: right; color: #4178c5;}
#global_footer .cw_column {width: 180px;}
#global_footer .cw_column.span_two {width: 370px;}
#global_footer .cw_column.span_three {width: 560px;}
#global_footer .cw_column.span_four {width: 750px;}
ul#language_list {margin-top: 1.5em;}



/* WIDGETS */

.cern_ww .toggler:hover {cursor: pointer;}
.cern_ww .toggler.open {color: pink;}
.cern_ww.slider.box .toggler {border-bottom: 1px solid #909090; margin-bottom: 0; padding-bottom: 0.3em;}
.cern_ww.slider .stretcher.box {border: 1px solid #909090; background-color: #e8f6f2; padding: 0.5em; margin-top: 0;}
.cern_ww.slider .toggler.line {border-bottom: 1px solid #909090; margin-bottom: 1em; padding-bottom: 0.3em;}
.cern_ww.slider .toggler.line + .box {border-top-width: 0; margin-top: -1em;}
.cern_ww.slider .toggler.morelink {color: #4178c5; text-decoration: underline;}



/* CLEARFIX from positioniseverything.com */

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}  /* for IE/Mac */













